*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* NAVIGATION  */

@media screen and (min-width: 1400px) {
  .nav-wrapper {
    margin-right: 5em;
  }
  .nav-wrapper a {
    padding-left: 1em;
  }
  .nav-brand {
    cursor: pointer; 
    font-size: 30px !important;
    margin-left: 4em;
  }
  .full-name {
    font-weight: bold;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .nav-brand {
    cursor: pointer; 
    font-size: 15px !important;
    margin-left: 2em;
  }
}

/* LANDING */

.landing {
  width: '100%';
  margin: 'auto';
}

.landing-grid {
  background-image: url("./media/landing-bg.jpeg");
  padding-bottom: 5em;
}

.banner-text {
  background-color: rgba(47, 42, 25, 0.898);
  width: 65%;
  margin: auto;
  border-radius: 8px;
}
.profile-img {
  border-radius: 100%;
  padding-top: 3em;
  margin-bottom: 2em;
}

.banner-text h1 {
  font-weight: bold;
  color: white;
}

.banner-text hr {
  margin: auto;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none!important;
  box-shadow: none!important;
}

.banner-text p {
  color: white;
  font-size: 30px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

@media screen and (min-width: 1400px) {
  .profile-img {
    height: 400px;
  }
  .banner-text h1 {
    font-size: 66px;
  }
  .banner-text hr {
    border-top: 5px solid white;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .banner-text p {
    color: white;
    font-size: 30px;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
  }
  .social-links i {
    color: white;
    font-size: 6em;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .profile-img {
    height: 200px;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .banner-text hr {
    border-top: 2px solid white;
    width: 50%;
  }
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
  .social-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
  }
  .social-links i {
    color: white;
    font-size: 3em;
    padding: 8px;
  }
}


/* ABOUT */

.about {
  margin-top: 3em;
  text-align: center;
  text-shadow: 0 0 10px rgba(black, 0.5);
}

.about h2 {
  margin-bottom: 2rem;
}

.about p {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .about h2 {
    font-size: 2.5rem;
  }
  .about p {
    max-width: 65%;
    min-width: 30%;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  .about h2 {
    font-size: 1.3rem;
  }
  .about p {
    max-width: 95%;
    line-height: 1.5rem;
    font-size: 17px;
    font-weight: 300;
  }
}


/* PROJECTS */

.projects {
  margin-top: 3em;
}

.projects hr {
  border-top: 5px solid black;
  width: 30%;
  margin: auto;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none!important;
  box-shadow: none!important;
}

.projects-grid {
  cursor: pointer;
  flex-direction:row;
  flex-wrap:wrap;
}

.project {
  flex:1 1 auto;
  text-align:center;  
  margin-bottom: 1.5em;
  border-radius: 8px;
}
.project-card {
  width: '38rem';
}
iframe {
  width: 500px;
  height: 390px;
}
.gif-preview {
  width: 500px;
  height: 390px;
}
.repo-btn {
  margin-top: 2em;
  margin-left: 1.5em;
}

@media screen and (min-width: 1400px){
  .projects-grid {
    align-items: center;
    margin: 5em;
    padding: 1em;
    padding-left: 5em;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  .project-card-img {
    width: 358px;
    height: 270.175px;
  }
  .project {
    flex:1 1 auto;
    text-align:center;  
    margin-bottom: 1.5em;
    border-radius: 8px;
  }
  .project-card {
    width: '38rem';
  }
  iframe {
    width: 500px;
    height: 390px;
  }
  .gif-preview {
    width: 500px;
    height: 390px;
  }
  .repo-btn {
    margin-top: 2em;
    margin-left: 1.5em;
  }
}

/* Tablets */
@media screen and (min-width: 1000px) and (max-width: 1399px) {
  .projects-grid {
    flex-direction: row;
  }
  .project-card-img {
    width: 7;
    height: 270.175px;
  }
  .project {
    text-align:center;
    margin: 4.5em;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 465px;
    height: 310px;
  }
  .gif-preview {
    width: 465px;
    height: 310px;
  }
  .project-content {
    margin-left: 10em;
  }
}

/* iPad */
@media screen and (min-width: 769px) and (max-width: 1399px) {
  .projects-grid {
    flex-direction: row;
  }
  .project-card-img {
    width: 310.4px;
    height: 310.4px;
  }
  .project {
    text-align:center;
    margin: 0.5em;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 465px;
    height: 310px;
  }
  .gif-preview {
    width: 465px;
    height: 310px;
  }
  .project-content {
      margin-left: 9em;
  }
}

/* Half of desktop */
@media screen and (min-width: 727px) and (max-width: 768px) {
  .projects-grid {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-bottom: 2em;
  }
  .project-card-img {
    width: 310.4px;
    height: 310.4px;
  }
  .project {
    /* flex:1 1 auto; */
    margin-left: 12em;
    text-align:center;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 465px;
    height: 310px;
  }
  .gif-preview {
    width: 465px;
    height: 310px;
  }
  .project-content {
      margin-left: 8em;
  }
}

/* Nexus smartphones  */
@media screen and (min-width: 574px) and (max-width: 727px) {
  .projects-grid {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-bottom: 2em;
  }
  .project-card-img {
    width: 310.4px;
    height: 310.4px;
  }
  .project {
    /* flex:1 1 auto; */
    margin-left: 10em;
    text-align:center;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 465px;
    height: 310px;
  }
  .gif-preview {
    width: 465px;
    height: 310px;
  }
  .project-content {
      margin-left: 7em;
  }
}


/* iPhone smartphones */
@media screen and (min-width: 365px) and (max-width: 574px) {
  .projects-grid {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-bottom: 2em;
  }
  .project-card-img {
    width: 310.4px;
    height: 310.4px;
  }
  .project {
    margin: 0 auto;
    text-align:center;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 465px;
    height: 310px;
  }
  .gif-preview {
    width: 465px;
    height: 310px;
  }
  .project-content {
      margin-left: 6em;
  }
}

/* Standard smartphone */
@media screen and (max-width: 376px) {
  .projects-grid {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .project-card-img {
    width: 280.4px;
    height: 280.4px;
  }
  .project {
    text-align:center;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 8px; 
  }
  iframe {
    width: 310px;
    height: 310px;
  }
  .gif-preview {
    width: 310px;
    height: 310px;
  }
  .project-content {
      margin-left: 6em;
  }
}



/* RESUME */
.resume {
  margin-top: 3em;
  margin-bottom: 5em;
}

.resume hr {
  border-top: 5px solid black;
  width: 30%;
  margin: auto;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none!important;
  box-shadow: none!important;
}

.resume-btn {
  margin-top: 3em;
  width: 10em;
  height: 3em;
  padding: 0.8rem 0.8rem !important;
}


/* CONTACT */

.footer {
  margin-top: 3em;
  display: block;
  padding: 25px 0;
  background-color: black;
  color: white;
}

.contact {
  margin-top: 3em;
  margin-right: 3em;
  flex-direction:row;
  flex-wrap:wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} 

.contact p {
  padding-bottom: 5px;
}
